.panel#footer
  .row
    .small.large-4.columns.push-1#text
      .row
        .columns
          %h4
            %small
              © 2013 by
              = link_to 'nd0ut', 'https://vk.com/nd0ut', :title => '_blank'
        .columns
          %h4
            %small All rights reserved

    .small.large-5.columns
      = render 'partials/pluso'
