%form#search
  .small.columns
    .row.collapse
      .small-9.columns
        %input{type: 'text', placeholder: 'Улица'}
      .small-3.columns
        %button.postfix{type: 'button'}
          Искать