%form#search
  .row
    .small.large.columns
      .row.collapse
        .small-9.large.columns
          %input{type: 'text', placeholder: 'Улица'}
        .small-3.large.columns
          %button.postfix{type: 'button'}
            Искать