- content_for :title, 'Счастье - что это?'

%h1 Счастье в Евразии
%p
  Сервис, позволяющий узнать, какие сейчас акции есть в ресторане
  = succeed "," do
    %a{:href => "http://evrasia.spb.ru/"} Евразия
  их время проведения и некоторую
  другую информацию.
%h4 Но зачем? Ведь на официальном сайт вся эта информация уже представлена.
%p
  Дело в том, что официальный сайт очень глючный, кривой и вообще говно:
  попап на всю страницу, куча джаваскриптовой фигни, флэш и прочая херня.
%p
  На этом чуде даже с компьютера пользоваться трудно, про смартфон вообще
  молчу.
%h4 Что делает сервис?
%p
  Все просто. Каждую ночь с официального сайта парсится информация об акциях
  и ресторанах и заносится в базу.
%p
  Сервис предоставляет доступ к этой базе: вы можете быстро посмотреть,
  проходит ли в нужном вам ресторане нужная вам акция, когда она
  заканчивается и т.д.

.github-fork-ribbon-wrapper.right-bottom
  .github-fork-ribbon
    %a{:href => 'https://github.com/nd0ut/EvrasiaStocks'}
      Fork me on GitHub