%h1 Привет!
%p
  Этот сервис поможет тебе в ... to be continued.
  -#TODO: дописать

.github-fork-ribbon-wrapper.right-bottom
  .github-fork-ribbon
    %a{:href => 'https://github.com/nd0ut/EvrasiaStocks'}
      Fork me on GitHub