@import "my_vars.css.scss";

#restaurants {

  li {
    clear: none !important;
    min-height: $panelMinHeight;
  }
}

.panel#restaurant_info .stock {
  padding: 0.6875em 0.6875em 0.6875em 0.6875em;
  height: 220px;
}