#restaurants {
  li.restaurant > div {
    min-height: 140px;
  }

  li {
    clear: none !important;
  }
}

.panel#restaurant_info .stock {
  padding: 0.6875em 0.6875em 0.6875em 0.6875em;
  height: 220px;
}