@import "my_vars.css.scss";

#stock-restaurants {
  li {
    clear: none !important;
    min-height: $panelMinHeight;
  }
}

form#search {
  padding-top: 5px;
}

#description {
  display: none;
}

#stocks {
  padding-bottom: 20px;
}